h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;

  overflow: hidden;
  margin: 0 auto;
  padding: 15px;
}

.quests {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.quest {

  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  position: relative;

}

.title {
  width: 400px;
}

.btn {
  width: 100px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;
}